*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    overflow-x: hidden;
}
#page1{
    height: 100%;
    width: 100%;
    background-color: lightblue;
}
#page2{
    height: 100%;
    width: 100%;
    background-color: rgb(168, 172, 119);
    padding: 2vw 0;
}
#page3{
    height: 100%;
    width: 100%;
    background-color: rgb(144, 97, 148);
}
#page2 h1{
    font-size: 40vw;
    font-weight: 600;
    text-transform: uppercase;
}